%hint
  - @hints.each do |hint|
    %hint-value
      = hint
.play
  %form(name="form_enter_code" action="/guess")
    %input.form-control(name="enter_code" pattern="[1-6]{#{@length}}" required autofocus)
    %button.btn.btn-info(type="submit") Enter
  %game-data.history
    %data-line.history-line
      %data-line.number Hint
      %data-line.number Turns
    %data-line.history-line
      %data-line.number= @hint
      %data-line.number= @turns
  .history
    - @history.each do |arr|
      .history-line
        .number= arr[1]
        .result= arr[2] == '' ? 'nothing' : arr[2]
  %control
    %a.button.btn.btn-primary(href="/hint") Get hint
    %a.button.btn.btn-warning(href="/restart") Restart
    %a.button.btn.btn-danger(href="/exit") Exit
