%result.main
  %secret-code
    = @secret_code
  %message
    = @mess
  %game-data.history
    %data-line.history-line
      %data-line.number Hint
      %data-line.number Turns
    %data-line.history-line
      %data-line.number= @hint
      %data-line.number= @turns
  .history
    - @history.each do |arr|
      .history-line
        .number= arr[1]
        .result= arr[2] == '' ? 'nothing' : arr[2]
  %control
    %a.button.btn.btn-success(href="/save") Save
    %a.button.btn.btn-warning(href="/restart") Restart
    %a.button.btn.btn-danger(href="/exit") Exit